@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; justify-content: space-evenly;">
    <div style="display: inline-block; vertical-align: top;">
        <h1>Register</h1>
        <partial name="RegisterPartial"/>
    </div>
    <div style="display: inline-block;">
        <h1>Login</h1>
        <partial name="LoginPartial"/>
    </div>
</div>