@model Wedding
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WeddingPlanner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Weddings" asp-action="Success">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container w-75">
  <h2 class="text-center">Plan Your Wedding</h2>

  <form asp-controller="Weddings" asp-action="Create" class="shadow p-3 mb-5 rounded" method="POST">
    <div class="form-group">
      <label asp-for="WedderOne"></label>
      <span asp-validation-for="WedderOne" class="text-danger font-weight-bold"></span>
      <input asp-for="WedderOne" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label asp-for="WedderTwo"></label>
      <span asp-validation-for="WedderTwo" class="text-danger font-weight-bold"></span>
      <input asp-for="WedderTwo" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label asp-for="Date"></label>
      <span asp-validation-for="Date" class="text-danger font-weight-bold"></span>
      <input asp-for="Date" type="date" class="form-control">
    </div>

    <div class="form-group">
      <label asp-for="Address"></label>
      <span asp-validation-for="Address" class="text-danger font-weight-bold"></span>
      <input asp-for="Address" type="text" class="form-control">
    </div>

    <button class="btn btn-outline-success">Create</button>
  </form>
</div>